@page "/"

<!--Members: Isabelle Helbig, Andy Lee, Duc Nguyen
    Program: Traveless Travel App
    Date: March 17, 2023

    Program Description: The traveless app is used to browse and search for flights, have the user
    click on the desired flight and have it auto populate the reserve section. The user will then be able
    to enter their name and citizenship and book the flight that they want. Additionally, the app will allow
    the user to populate a reservation code and use that code to edit pre-existing reservations. 
-->

<h1>Welcome to Traveless</h1>

Welcome to our new app.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
