.top {
    display: flex;
}

.left {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-right: 10%;
}

.resList {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 300px;
}

.right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.bottom {
    float: right;
    margin-top: 10%;
}

.resFinder {
    margin-left: 60%;
}


.finder {
    text-align: right;
    float: right;
    display: flex;
    flex-wrap: nowrap;
}

.modify, .reservations {
    margin-left: 35%;
}

.finder input {
    width: 800px;
}


.reserveForm div {
    display: flex;
    justify-content: right;
}

input {
    width: 371px;
}

.modifyButton{
    margin-right: 30%;
}

#flightDisplay {
    background-color: white;
    border: none;
    color: black;
    padding: 0;
    margin: 2%;
    display: flex;
    justify-content: left;
}

button {
    margin: 5%;
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    white-space: nowrap;
}

#status{
    width:371px;
}

.resForm{
    width:100%;
    white-space:nowrap;
}

.searchButton{
    margin-top:10%;
    position:absolute;
    margin-left:48%;
}



